    @namespace xf url("http://www.w3.org/2002/xforms");
      body {font-family: Ariel, Helvetica, san-serif}
            /* Input Control labels are right-aligned in a 200px wide column that floats to the left. */
	     
	    /* This line ensures all the separate input controls appear on their own lines */
	    /*xf|input, xf|select, xf|select1, xf|textarea {display:block; margin:5px 0;} */
	     
	    /* Makes the labels right aligned in a 200px wide column that floats to the left of the input controls. */
	    /* xf|input > xf|label, xf|select > xf|label, xf|select1 > xf|label, xf|textarea > xf|label {text-align:right; padding-right:10px; width:200px; float:left; text-align:right;} */
	     
	    /* Put a black border and background color around all specified XForms groups and gives them both margin and padding */
	    xf|group {border: solid black 1px; margin:15px 5px; padding:5px; background-color:Lavender;}
	    .group-label {text-align:left;font-weight:bold;font-size:12pt;}
	    /* *:valid  >*/
	    *:invalid { background-color: red; }
	    /*xf|input {background-color: red;}
