<html xmlns="http://www.w3.org/1999/xhtml" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:mp="http://musicpath.org/scene#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <head>
    <title property="foaf:name"/>
      <script src="/js/jquery-1.4.4.min.js" ></script>
      <script src="webapp/js/underscore-min.js"></script>
      <script src="webapp/js/jquery.childrenUntil.js"></script>
      <script src="/js/edit.js" ></script>
  </head>
  <body>
    Hi, this is the index
      <ul about="[foaf:Person]" rev="rdf:type">
        <!--li about="" typeof="FOAF:Person"--> 
        <li>
          <a href="" property="foaf:givenname" /> 
        </li>
      </ul>
  </body>
</html>
